/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --theme_bg: url(../images/cover-image-light.png);
  --border_color: #353430;
  --button_color_text: #353430;
  --title_color: #FFC2E6;
  --title_shadow: #ff8dcb;
  --title_decor_bg-color: #FF8DCB;
  --title_decor_text-color: #353430;
  --bg-color: #fff1f7;
  --section_title_color-text: #353430;
  --card_text-color: #353430;
  --footer_shadow: #ff8dcb;
  --hover_button_border-color: rgb(50 49 45 / 0.4);
  --header_record: none;
  --link_shadow: #ff8dcb;
  --card_link_focus: #353430;
}



@media (prefers-color-scheme: light) 
{
  :root { 
  --theme_bg: url(../images/cover-image-light.png);
  --border_color: #353430;
  --button_color_text: #353430;
  --title_color: #FFC2E6;
  --title_shadow: #ff8dcb;
  --title_decor_bg-color: #FF8DCB;
  --title_decor_text-color: #353430;
  --bg-color: #fff1f7;
  --section_title_color-text: #353430;
  --card_text-color: #353430;
  --footer_shadow: #ff8dcb;
  --hover_button_border-color: rgb(50 49 45 / 0.4);
  --header_record: none;
  --link_shadow: #ff8dcb;
  
 }
}